.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
}

header .logo {
  max-height: 80%;
}

header ul {
  list-style: none;
  display: flex;
  margin-left: 30px;
}

header ul li {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-weight: bold;
  height: 100px;
  border-bottom: 2px solid transparent;
}

header ul li.active {
  color: #0182f9;
  border-bottom: 2px solid #0182f9;
}

header ul a {
  color: currentColor;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0;
  text-align: center;
}

.cards .card {
  width: calc(100% / 6 - 10px);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 50px;
}

.cards .card .comic-title {
  color: white;
  margin-top: 10px;
}

.cards .btn {
  background-color: #0182f9;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

main {
  background-color: #1c1c1c;
}

