.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    .card {
        width: calc(100% / 6 - 10px);
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 35px;
        .comic-title {
            color: white;
        }
    }
    .btn {
        background-color: $primary-color;
        padding: 10px 40px;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.7rem;
        color: white;
    }
}
